<div class="cover mb-4 d-flex align-items-center justify-content-center mt-4">
  <h1 class="text-center"> <strong>ALL PAW STUFF 🐾</strong></h1>
  <h3 class="typed-js" data-controller="typed-js"></h3>
</div>


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(<%= image_path("banner_img.png") %>)">
  <div class="container">
    <h1>The place for all pet accessories</h1>
    <p>Need some pet accessories for short term? Don't want to buy?</p>
    <p>Look no further, <strong>RENT</strong> them here! We have a huge variety of fur accessories to cover all your needs.</p>
  </div>
</div>

<div class="container">
  <%= link_to "Browse fur accessories", accessories_path, class: "btn btn-warning mt-4" %>
  <% if policy(Accessory).create? %>
  <%= link_to "List a fur accessory for rental", new_accessory_path, class: "btn btn-warning mt-4" %>
<% end %>
</div>
