<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
    <h1>ALL PAW STUFF</h1>
    <h3 class="typed-js" data-controller="typed-js"></h3>
  </div>
</div>


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>The place for all pet accessories</h1>
    <p>Huge variety of accessories to choose from!</p>
    <a class="btn btn-flat" href="#">Browse now</a>
  </div>
</div>
