
<div class= "container">
  <h1>Edit your accessory here</h1>

  <%= render 'form', accessory: @accessory %>

  <hr>
  <%= link_to accessories_path,  class: 'btn btn-warning mt-3' do %>
    <i class="fa fa-history"></i> Back to list
  <% end %>
</div>
